.container {
    text-align: center;
    position: relative;
    padding: 130px 0;
}

.bg {
    background-color: #282727;
    padding: 130px
}

.container:before,
.container:after {
    content: '';
    left: 0;
    position: absolute;
}

.container:before {
    top: 0;
    border-bottom: 130px solid #282727;
    border-left: 100vw solid transparent;
}

.container:after {
    bottom: 0;
    border-top: 130px solid #282727;
    border-right: 100vw solid transparent;
}

.header {
    font-size: 48px;
    margin-bottom: 36px;
    font-weight: 600;
    font-family: aileron;
}

.text {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 55px;
    letter-spacing: 0.5px;
    font-weight: 300;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linksItem {
    max-width: 46px;
    max-height: 46px;
    margin: 0 20px;
}

.linksItem_github {
    max-width: 50px;
    max-height: 50px;
}