:where(.inkeep-widget-vars){
  font-family: inherit;
}

.ikp-modal__backdrop {
  backdrop-filter: blur(0px);
  background: rgba(12, 13, 13, 0.3);
}

.ikp-message-header{
  padding: 0;
  width: 28px;
  margin-right: 12px;
  display: none;
}

.ikp-message-header__avatar-box{
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background-color: rgba(0, 204, 136, 0.1);
}

.ikp-message-header__avatar-user{
  display: flex!important;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #E4E5E7;
}

.ikp-modal-widget__content{
  top: 140px;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.06);
  border: 1px solid #E4E5E7;
  background: #FAFAFA;
  border-radius: 10px;
}

.ikp-modal-widget__content .ikp-max-h_min\(85vh\,_900px\){
  max-height: min(calc(100vh - 200px),900px)
}

.ikp-switch-to-search-button{
  display: none;
}

.ikp-ai-chat-footer__content-wrapper{
  padding: 0 0 20px;
  background-image: none;
}

.ikp-chat-bubble__message-content-wrapper{
  padding-right: 0;
  justify-content: flex-start;
}

.ikp-chat-bubble__message-content-wrapper > .ikp-h_48px{
  height: 28px;
  margin-bottom: 24px;
}
.ikp-chat-bubble__message-content-wrapper ol,
.ikp-chat-bubble__message-content-wrapper ul{
  padding-left: 20px;
}
.ikp-chat-bubble__message-content-wrapper > div{
  font-size: 16px;
  color: #0C0D0D;
}

.ikp-ai-chat-footer__content{
  padding: 0 20px;
}

.ikp-ai-chat__message-box{
  box-shadow: none;
  border-radius: 4px;
  border: 1px solid #C9CBCF;
  padding: 0;
}
.ikp-ai-chat__message-input{
  margin-left: 0;
  padding: 8px 10px 0;
  min-height: 40px;
}
.ikp-ai-chat__send-button:disabled{
  visibility: hidden;
}

.ikp-ai-chat__message-box-wrapper{
  max-width: 100%;
}
.ikp-ai-chat__message-box{
  background-color: #fff;
}

.ikp-ai-chat__toolbar-header{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.125;
  color: #0C0D0D;
}

.ikp-message__divider-wrapper{
  display: none;
}
.ikp-messages__wrapper{
  font-size: 16px;
}
.ikp-messages__wrapper>div:first-child{
  padding: 0px;

}
.ikp-messages__wrapper>div:first-child .ikp-message-header{
  display: none;
}
.ikp-messages__wrapper>div:first-child .ikp-message-header + div{
  padding-right: 0;
}
.ikp-messages__wrapper>div:first-child .ikp-message-header + div > div:first-child{
  display: none;
}
.ikp-messages__wrapper>div:first-child .ikp-message-header + div > div:last-child{
  margin-top: 0;
}

.ikp-quick-question-button__wrapper::after {
  display: none;
}

.ikp-quick-question-button{
  position: relative;
  padding: 8px 10px;
  border-radius: 4px;
  border: none;
  background: none;
  justify-content: flex-start;
  color: #0C0D0D;
  font-size: 16px;
}
.ikp-quick-question-button:hover{
  background: rgba(36, 38, 40, 0.06);
}
.ikp-quick-question-button::before{
  content: '';
  flex-shrink: 1;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background-color: rgba(0, 204, 136, 0.1);
  margin-right: 12px;
}
.ikp-quick-question-button::after{
  content: '';
  position: absolute;
  top: 14px;
  left: 16px;
  width: 16px;
  height: 16px;
  background: url('/inkeep/images/example.svg') no-repeat;
}
.ikp-quick-question-button__highlight{
  display: none;
}

.ikp-quick-questions__label{
  margin-top: 6px;
  margin-bottom: 8px;
  padding-left: 20px;
  font-size: 16px;
  color: #797D86;
  text-transform: none;
  letter-spacing: 0;
  font-weight: normal;

  & + div{
    flex-direction: column;
    gap: 0;
    margin: 0px 10px;

    &>div{
      margin-right: 0;
      margin-bottom: 0;

      &:last-child{
        margin-bottom: 24px;
      }
    }
  }
}

.ikp-chat-bubble__wrapper{
  padding: 0px;
}
.ikp-chat-bubble__user-message,
.ikp-chat-bubble__bot-message{
  padding: 10px 40px 10px 20px;
}

.ikp-chat-bubble__user-message{
  background: rgba(36, 38, 40, 0.04);
  color: #797D86;
}

.ikp-chat-bubble__user-message-content{
  margin-bottom: 0;
}

.ikp-ai-chat__header,
.ikp-ai-chat-footer,
.ikp-ai-chat__scrollable-page-content{
  background: #FAFAFA;
}
.ikp-ai-chat__scrollable-page-content{
  padding-top: 18px;
}

.ikp-ai-chat__header::after{
  color: #FAFAFA;
}
.ikp-ai-chat__header-toolbar{
  padding: 18px 20px 0px;
}

.ikp-ai-chat-footer__content-wrapper::before{
  background: linear-gradient(180deg, transparent 0%, #FAFAFA 100%);
}
.ikp-modal__closeTrigger{
  opacity: 0.9;
}

[data-theme='dark'] {
  .ikp-modal__backdrop {
    background: rgba(12, 13, 13, 0.8);
  }

  .ikp-ai-chat__header,
  .ikp-ai-chat-footer,
  .ikp-ai-chat__scrollable-page-content{
    background: #131415;
  }
  .ikp-ai-chat__header::after{
    color: #131415;
  }
  .ikp-ai-chat-footer__content-wrapper::before{
    background: linear-gradient(180deg, transparent 0%, #131415 100%);
  }
  .ikp-ai-chat__toolbar-header{
    color: #fff;
  }

  .ikp-modal-widget__content{
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid #303236;
    background: #131415;
  }
  
  .ikp-message-header__avatar-box{
    background-color: rgba(0, 229, 153, 0.1);
  }
  .ikp-message-header__avatar-user{
    background-color: #242628;
  }
  .ikp-chat-bubble__user-message{
    background: rgba(36, 38, 40, 0.4);
  }
  .ikp-chat-bubble__message-content-wrapper > div{
    color: #fff;
  }
  .ikp-chat-bubble__message-content-wrapper > div .ikp-chat-bubble__user-message-content{
    color: #94979E;
  }
  .ikp-quick-questions__label{
    color: #797D86;
  }

  .ikp-quick-question-button{
    color: #fff;
  }
  .ikp-quick-question-button:hover{
    background: rgba(36, 38, 40, 0.6);
  }

  .ikp-quick-question-button::before {
    background: rgba(0, 229, 153, 0.1);
  }

  .ikp-ai-chat__message-box{
    background-color: #0C0D0D;
  }

  .ikp-ai-chat__message-box{
    border: 1px solid #303236;
  }
  .ikp-modal__closeTrigger{
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .ikp-modal-widget__content{
    top: 100px;
  }
  
  .ikp-modal-widget__content .ikp-max-h_min\(85vh\,_900px\){
    max-height: min(calc(100vh - 192px),900px)
  }
}

@media (max-width: 528px) {
  .ikp-modal-widget__content{
    border-radius: 0px;
  }
  .ikp-modal__closeTrigger:hover{
    background: transparent;
  }
  .ikp-modal-widget__content{
    top: 0px;
  }
}