.horizontal-line {
  @apply absolute left-0 right-0 z-10 h-0.5 bg-gray-1;
}

.vertical-line {
  @apply absolute top-0 h-full w-0.5 bg-gray-1;
}

.shape {
  @apply absolute border-2 border-gray-1;

  &.shape-top-right {
    @apply rounded-tr-full;
  }

  &.shape-bottom-right {
    @apply rounded-br-full;
  }

  &.shape-bottom-left {
    @apply rounded-bl-full;
  }

  &.shape-top-left {
    @apply rounded-tl-full;
  }
}

.circle {
  @apply absolute z-10 h-6 w-6 -translate-x-1/2 -translate-y-1/2 rounded-full border-2 border-gray-1 bg-black;

  &::before {
    content: '';
    @apply absolute top-1/2 left-1/2 h-2 w-2 -translate-y-1/2 -translate-x-1/2 rounded-full bg-gray-1;
  }

  &.circle-with-text {
    @apply z-30 border-gray-2;

    &::before {
      @apply bg-gray-2;
    }

    &::after {
      content: attr(data-text);
      font-size: 15px;
      @apply absolute top-1/2 -translate-y-1/2 whitespace-nowrap bg-black font-semibold uppercase leading-relaxed tracking-wide text-gray-2;
    }

    &.circle-with-text-right {
      &::after {
        @apply right-[-3px] translate-x-full pl-2.5;
      }
    }

    &.circle-with-text-left {
      &::after {
        @apply left-[-3px] -translate-x-full pr-2.5;
      }
    }
  }
}

.dotted-vertical-line {
  @apply absolute w-[4px] -translate-x-px bg-black;

  &::before {
    content: '';
    /* my-[7px] is the space that should be between dotted line and circles */
    /* h-[calc(100%-14px)] is the height without these spaces */
    @apply absolute my-[7px] h-[calc(100%-14px)] border-r-[4px] border-dotted border-gray-1;
  }
}

.dotted-horizontal-line {
  @apply absolute z-10 h-[4px] -translate-y-px bg-black;

  &::before {
    content: '';
    /* mx-[7px] is the space that should be between dotted line and circles */
    /* w-[calc(100%-14px)] is the height without these spaces */
    @apply absolute mx-[7px] w-[calc(100%-14px)] border-t-[4px] border-dotted border-gray-1;
  }
}
