@layer components {
  .prose-blog {
    @apply max-w-none leading-normal text-gray-new-90 prose-p:my-4 prose-p:text-gray-new-90 prose-strong:text-gray-new-90 prose-ol:my-5 prose-ul:my-5 prose-li:my-4;
    @apply prose-headings:font-title prose-headings:font-medium prose-headings:leading-tight prose-headings:tracking-tighter prose-headings:text-white;
    @apply prose-h2:mb-5 prose-h2:mt-10 prose-h2:text-[36px] prose-h3:mb-4 prose-h3:mt-7 prose-h3:text-[28px] prose-h4:mb-4 prose-h4:mt-6 prose-h4:text-2xl prose-h5:mb-4 prose-h5:mt-5 prose-h5:text-xl md:prose-h2:text-[32px] sm:prose-h2:text-[26px] sm:prose-h3:text-[20px];
    @apply prose-a:font-normal prose-a:text-green-45 prose-a:no-underline prose-a:transition-colors prose-a:duration-200 prose-a:ease-in-out hover:prose-a:text-[#47FFC2] sm:prose-a:break-words;
    @apply prose-figure:my-10 prose-img:my-10 md:prose-figure:my-8 md:prose-img:my-8;
    @apply prose-figcaption:mt-2.5 prose-figcaption:text-sm prose-figcaption:leading-none prose-figcaption:tracking-tight prose-figcaption:text-gray-new-50;
    @apply prose-pre:my-0 prose-pre:px-2;

    *[id] {
      @apply scroll-mt-20 lg:scroll-mt-5;
    }

    > * {
      &:first-child {
        @apply mt-0;

        img {
          @apply mt-0;
        }
      }

      &:last-child {
        @apply mb-0;

        img {
          @apply mb-0;
        }
      }
    }

    a {
      > code {
        @apply !text-green-45 transition-colors duration-200 hover:!text-[#47FFC2];
      }
    }

    ul {
      @apply list-none pl-3.5;

      > li {
        @apply relative pl-0;

        &::before {
          @apply absolute -left-3.5 top-3 h-1 w-1 -translate-y-1/2 rounded-[1px] bg-current content-[''];
        }

        ol {
          @apply md:pl-4;
        }
      }
    }

    ol {
      @apply pl-10 md:pl-5;

      > li {
        @apply pl-0;

        ol {
          @apply md:pl-4;
        }
      }

      li {
        &::marker {
          @apply text-white;
        }
      }
    }

    .wp-block-table {
      @apply overflow-x-auto md:-mx-4 md:px-4;
    }

    table {
      @apply w-full border-hidden md:min-w-[500px];

      th {
        @apply border border-white border-opacity-[0.06] p-3.5 md:px-2;
      }

      td {
        @apply border border-white border-opacity-[0.06] p-3.5 md:px-2;
      }
    }

    pre {
      @apply !bg-black-new px-0;

      &.highlight {
        @apply px-0;

        > code {
          @apply inline-block w-full px-6 !leading-relaxed;
        }
      }

      > code {
        text-shadow: unset !important;

        @apply !font-mono !text-sm !text-white;
      }
    }

    :not(pre) > code {
      @apply !rounded border border-[#494B50] bg-[#242628] !px-1 !py-0.5 !font-mono text-base !font-normal leading-none text-white;

      &::before,
      &::after {
        @apply hidden;
      }
    }

    .code-wrap {
      code {
        white-space: break-spaces !important;

        @apply !max-w-full !break-words;
      }
    }

    iframe,
    video {
      @apply mx-auto rounded-md;
    }

    .wp-block-embed:not(.wp-block-embed-twitter) {
      .wp-block-embed__wrapper {
        @apply relative h-0 overflow-hidden pb-[56.25%];

        iframe {
          @apply absolute left-0 top-0 h-full w-full;
        }
      }
    }

    .twitter-tweet.twitter-tweet-rendered {
      @apply mx-auto;
    }

    .wp-block-quote {
      @apply border-l-[3px] border-yellow-70 pl-4 font-normal not-italic;

      p {
        @apply my-0 text-lg;

        &::before,
        &::after {
          @apply hidden;
        }
      }

      cite {
        @apply mt-3.5 inline-flex font-normal not-italic leading-none tracking-[-0.02em] text-gray-new-70;

        em {
          @apply not-italic;
        }
      }
    }

    .wp-block-pullquote {
      blockquote {
        @apply relative border-l-[3px] border-green-45 pl-9 before:absolute before:top-0 before:h-8 before:w-8 before:bg-[url('/images/blockquote.svg')] before:bg-[length:32px_32px] before:bg-no-repeat;
      }

      p {
        @apply my-0 pt-11 text-2xl font-normal not-italic leading-snug;

        &::before,
        &::after {
          @apply hidden;
        }
      }

      cite {
        @apply mt-3.5 inline-flex font-normal not-italic leading-none tracking-[-0.02em] text-gray-new-70;

        em {
          @apply not-italic;
        }
      }
    }
  }
}
