@layer components {
  .prose-blog {
    @apply max-w-none leading-normal text-gray-new-90 prose-strong:text-gray-new-90;
    @apply prose-headings:font-medium prose-headings:leading-tight prose-headings:tracking-tighter prose-headings:text-white;
    @apply prose-a:rounded-sm prose-a:font-normal prose-a:text-white prose-a:underline prose-a:decoration-white/40 prose-a:decoration-dashed prose-a:underline-offset-4 prose-a:transition-colors prose-a:duration-200 prose-a:ease-in-out hover:prose-a:decoration-white sm:prose-a:break-words;
    @apply prose-figure:my-10 prose-img:my-10 md:prose-figure:my-8 md:prose-img:my-8 sm:prose-figure:my-6 sm:prose-img:my-6;
    @apply prose-figcaption:mt-2.5 prose-figcaption:text-base prose-figcaption:leading-snug prose-figcaption:tracking-tight prose-figcaption:text-gray-new-50;
    @apply prose-pre:my-0 prose-pre:px-2;

    *[id] {
      @apply scroll-mt-20 lg:scroll-mt-5;
    }

    > * {
      &:first-child {
        @apply mt-0;

        img {
          @apply mt-0;
        }
      }

      &:last-child {
        @apply mb-0;

        img {
          @apply mb-0;
        }
      }
    }

    a {
      > code {
        @apply !text-white transition-colors duration-200;
      }
    }

    h2 {
      @apply m-0 pt-8 text-[28px] font-medium leading-tight tracking-tighter md:pt-6 md:text-[24px] sm:text-[20px];
    }

    h3 {
      @apply mt-7 text-xl font-medium leading-snug tracking-extra-tight md:mt-5 md:text-lg sm:text-[18px];
    }

    h4 {
      @apply mt-6 text-lg font-medium leading-snug tracking-extra-tight md:mt-4 md:text-base;
    }

    h5 {
      @apply mt-5 text-lg md:mt-4 md:text-base;
    }

    p {
      @apply mb-6 mt-[18px] text-lg font-normal leading-normal tracking-tight text-gray-new-85 md:mb-5 md:mt-4 md:text-base;
    }

    ul,
    ol {
      @apply my-6 list-none md:my-5;

      > li {
        @apply relative my-2.5 pl-0 text-[18px] font-normal leading-normal text-gray-new-85 md:text-base;

        ol {
          @apply md:pl-4;
        }
      }
    }

    ul {
      @apply pl-[34px] md:pl-5 sm:pl-4;

      > li {
        &::before {
          @apply absolute -left-4 top-0 text-[18px] font-normal leading-normal text-gray-new-85 content-['–'] md:-left-3.5 md:text-base;
        }
      }
    }

    ol {
      @apply list-decimal pl-[38px] md:pl-5;

      > li {
        @apply pl-1.5;
      }

      li {
        &::marker {
          @apply text-white;
        }
      }

      ol {
        list-style-type: lower-alpha;
      }
    }

    hr {
      @apply my-8 md:my-6;
    }

    .wp-block-table {
      @apply overflow-x-auto md:-mx-4 md:px-4;
    }

    table {
      @apply my-10 w-full border-hidden md:min-w-[500px];

      th {
        @apply border border-gray-new-20 p-3.5 md:px-2;
      }

      td {
        @apply border border-gray-new-20 p-3.5 md:px-2;
      }
    }

    pre {
      @apply rounded-none border border-gray-new-20 !bg-black-pure px-0;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }

      &.highlight {
        @apply px-0;

        > code {
          @apply inline-block w-full px-6 !leading-relaxed;
        }
      }

      > code {
        text-shadow: unset !important;

        @apply !font-mono !text-sm !text-white;
      }

      + button {
        @apply !border-gray-new-20 !bg-black-pure !text-gray-new-60 hover:!text-white;
      }
    }

    :not(pre) > code {
      @apply !rounded border border-gray-new-30 bg-black-new !px-1 !py-0.5 !font-mono text-base !font-normal leading-none text-white;

      &::before,
      &::after {
        @apply hidden;
      }
    }

    .code-wrap {
      code {
        white-space: break-spaces !important;

        @apply !max-w-full !break-words;
      }
    }

    .wp-block-code {
      @apply p-4;
    }

    iframe,
    video {
      @apply mx-auto;
    }

    .twitter-tweet iframe {
      @apply rounded-xl;
    }

    .wp-block-embed:not(.wp-block-embed-twitter) {
      .wp-block-embed__wrapper {
        @apply relative h-0 overflow-hidden pb-[56.25%];

        iframe {
          @apply absolute left-0 top-0 h-full w-full;
        }
      }
    }

    .twitter-tweet.twitter-tweet-rendered {
      @apply mx-auto;
    }

    .admonition {
      @apply border-l-2;

      h4 {
        @apply m-0 inline-flex items-center font-mono text-[13px] uppercase leading-none;
      }

      a {
        @apply text-white underline decoration-white/40 decoration-dashed underline-offset-4 transition-none hover:!text-white hover:decoration-white hover:!opacity-100;
      }
    }

    .wp-block-quote {
      @apply my-8 border-l-2 border-green-44 pl-6 font-mono font-normal not-italic sm:pl-4;

      strong,
      b,
      p {
        @apply my-0 text-xl font-normal leading-snug tracking-tighter md:text-lg sm:text-base;

        &::before,
        &::after {
          @apply hidden;
        }
      }

      cite {
        @apply mt-3.5 inline-flex font-normal not-italic leading-none tracking-extra-tight text-gray-new-70;

        em {
          @apply not-italic;
        }
      }
    }

    .wp-block-pullquote {
      @apply my-8;

      blockquote {
        @apply relative border-l-2 border-green-44 pl-9 before:absolute before:top-0 before:h-8 before:w-8 before:bg-[url('/images/blockquote.svg')] before:bg-[length:32px_32px] before:bg-no-repeat sm:pl-6;
      }

      p {
        @apply my-0 pt-11 text-2xl font-normal not-italic leading-snug md:text-xl sm:text-lg;

        &::before,
        &::after {
          @apply hidden;
        }
      }

      cite {
        @apply mt-3.5 inline-flex font-normal not-italic leading-none tracking-extra-tight text-gray-new-70;

        em {
          @apply not-italic;
        }
      }
    }

    .wp-block-separator {
      @apply border-gray-new-20;
    }
  }
}
