@layer components {
  .prose-blog {
    @apply max-w-none text-black;

    a:not(.anchor) {
      @apply border-b-2 border-b-primary-1 no-underline transition-colors duration-200 ease-in-out hover:text-primary-1 sm:break-words;
    }

    ul,
    ol {
      @apply list-none pl-6;

      > li {
        @apply relative pl-0;

        &::before {
          @apply absolute -translate-y-1/2;
        }

        ol {
          @apply md:pl-4;
        }
      }
    }

    ul {
      @apply md:pl-4;

      > li {
        &::before {
          @apply -left-6 top-4 h-2 w-2 rounded-full bg-primary-1 content-[''] md:top-3 md:-left-4 md:h-1.5 md:w-1.5;
        }
      }
    }

    ol {
      counter-reset: custom-counter;
      @apply pl-10 md:pl-5;

      > li {
        counter-increment: custom-counter;

        &::before {
          @apply -left-2 top-4 -translate-x-full md:top-3.5 md:-left-1;
          content: counter(custom-counter) '. ' !important;
        }
      }
    }

    .table-wrapper {
      @apply md:overflow-x-auto;
    }

    table {
      @apply w-full border-hidden md:min-w-[500px];

      th {
        @apply border border-gray-6 bg-secondary-6 bg-opacity-30 p-3.5 md:px-2;
      }

      td {
        @apply border border-gray-6 p-3.5 md:px-2;
      }
    }

    pre {
      @apply !border !border-[#E5E5E5] !bg-[#FBFBFB];

      code {
        text-shadow: unset;

        @apply highlighted-code !font-mono !text-base !text-black;
      }
    }

    :not(pre) > code {
      @apply !rounded-sm !border !border-[#E5E5E5] bg-[#FBFBFB] !px-1.5 !py-0.5 !font-mono !font-normal !text-black;

      &::before,
      &::after {
        @apply hidden;
      }
    }

    iframe,
    video {
      @apply mx-auto rounded-md;
    }

    .wp-block-embed {
      .wp-block-embed__wrapper {
        @apply relative h-0 overflow-hidden pb-[56.25%];

        iframe {
          @apply absolute top-0 left-0 h-full w-full;
        }
      }
    }

    blockquote {
      @apply border-primary-1 font-normal not-italic;

      p {
        &::before,
        &::after {
          @apply hidden;
        }
      }
    }
  }
}
