@layer components {
  .admonition-text {
    a {
      @apply border-b border-transparent font-normal text-secondary-8 no-underline transition-[border-color] duration-200 ease-in-out hover:border-secondary-8 dark:text-primary-1 dark:hover:border-primary-1 sm:break-words;
    }
    p:first-child {
      @apply mt-0;
    }

    p:last-child {
      @apply mb-0;
    }
  }

  .prose-doc {
    @apply max-w-none leading-normal text-gray-new-8 prose-strong:text-gray-new-8 dark:text-gray-new-90 dark:prose-strong:text-gray-new-90;
    @apply prose-headings:leading-tight prose-headings:text-black-new prose-p:my-3 prose-p:leading-normal dark:prose-headings:text-white;
    @apply prose-a:border-b prose-a:border-transparent prose-a:font-normal prose-a:text-secondary-8 prose-a:no-underline prose-a:transition-[border-color] prose-a:duration-200 prose-a:ease-in-out hover:prose-a:border-secondary-8 dark:prose-a:text-primary-1 dark:hover:prose-a:border-primary-1 prose-a:sm:break-words;

    h2 {
      @apply mb-3 mt-10;
    }

    ul,
    ol {
      @apply my-3 list-none;

      > li {
        @apply relative my-1.5 pl-0;

        ol {
          @apply md:pl-4;
        }
      }
    }

    ul {
      @apply pl-[34px] md:pl-4;

      > li {
        &::before {
          @apply absolute -left-3.5 top-2.5 h-1 w-1 rounded-full bg-black-new content-[''] dark:bg-gray-new-90 md:-left-3;
        }
      }
    }

    ol {
      @apply list-decimal pl-[38px] md:pl-5;

      li {
        @apply pl-1.5;

        &::marker {
          @apply pl-1 text-black-new dark:text-gray-new-90;
        }
      }

      ol {
        list-style-type: lower-alpha;
      }
    }

    .table-wrapper {
      @apply md:-mx-4 md:overflow-x-auto md:px-4;
    }

    table {
      @apply my-10 w-full leading-normal md:min-w-[500px];

      th {
        @apply p-2.5 pt-0 align-top;
      }

      td {
        @apply p-2.5;
      }

      thead {
        tr {
          @apply border-b border-gray-new-70;
        }
      }

      tbody {
        tr {
          @apply border-b border-gray-new-90 last:border-gray-new-70 dark:border-gray-new-20 dark:last:border-gray-new-70;
        }
      }
    }

    .code-tab {
      > pre {
        @apply my-0 py-5;
      }
    }

    pre {
      @apply my-5 !bg-gray-new-98 dark:!bg-gray-new-10;

      &.highlight {
        @apply px-0;

        > code {
          @apply inline-block w-full px-4 !leading-relaxed;
        }
      }

      > code {
        text-shadow: unset;

        @apply highlighted-code !font-mono text-sm !text-black-new dark:!text-white dark:![text-shadow:unset] md:min-w-[686px];
      }
    }

    :not(pre) > code {
      @apply !rounded-sm bg-gray-new-94 !px-1.5 !py-0.5 !font-mono !font-normal !text-black-new dark:bg-gray-new-15 dark:!text-white;

      &::before,
      &::after {
        @apply hidden;
      }
    }

    .code-wrap {
      code {
        white-space: break-spaces !important;

        @apply !max-w-full !break-words;
      }
    }

    iframe,
    video {
      @apply mx-auto my-5 rounded-md;
    }

    .gatsby-resp-image-wrapper {
      @apply my-5;
    }

    blockquote {
      @apply border-secondary-8 font-normal not-italic;

      p {
        &::before,
        &::after {
          @apply hidden;
        }
      }
    }
  }

  .prose-chat {
    > * {
      &:first-child {
        @apply mt-0;
      }

      &:last-child {
        @apply mb-0;
      }
    }

    pre {
      @apply overflow-x-auto rounded-md !bg-gray-new-94/60 dark:!bg-gray-new-15;
    }

    :not(pre) > code {
      @apply bg-gray-new-90 dark:bg-gray-new-15;
    }
  }
}
