@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './fonts';
@import './main';
@import './text';
@import './safe-paddings';
@import './grid-gap';
@import './print-grid';
@import './remove-autocomplete-styles';
@import './with-highlighted-text';
@import './highlighted-code';
@import './doc-content';
@import './blog-content';
@import './skeleton';
@import './no-scrollbars';
@import './border-linear';
@import './search';
@import './logos';
@import './animated-button';
@import './ticket';
@import './social-share';
@import './mask-icons';
