@layer components {
  @keyframes infinityScroll {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  .logos {
    --gap: theme(spacing.20);

    @screen xl {
      --gap: theme(spacing.16);
    }

    @screen lg {
      --gap: theme(spacing.14);
    }

    @screen md {
      --gap: theme(spacing.10);
    }

    gap: var(--gap);
  }

  .logos-animated {
    @apply relative before:absolute before:bottom-0 before:left-0 before:top-0 before:z-10 before:w-[100px] before:bg-gradient-to-r before:from-black-pure before:to-transparent after:absolute after:bottom-0 after:right-0 after:top-0 after:z-10 after:w-[100px] after:bg-gradient-to-l after:from-black-pure after:to-transparent;

    .logos-content {
      @apply will-change-transform;
      gap: var(--gap);
      animation: infinityScroll 60s linear infinite;
    }
  }

  .logos-central-mask {
    mask-image: radial-gradient(350px at 50% -200px, black 25%, transparent 100%);

    @screen md {
      mask-image: radial-gradient(200px at 50% -100px, black 25%, transparent 100%);
    }
  }
}
