@layer components {
  @keyframes infinityScroll {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  .logos {
    --gap: 5rem;
    gap: var(--gap);
  }

  .logos-animated {
    @apply relative before:absolute before:top-0 before:bottom-0 before:left-0 before:z-10 before:w-[100px] before:bg-linear-to-r before:from-black-pure before:to-transparent after:absolute after:top-0 after:right-0 after:bottom-0 after:z-10 after:w-[100px] after:bg-linear-to-l after:from-black-pure after:to-transparent;

    .logos-content {
      @apply will-change-transform;
      gap: var(--gap);
      animation: infinityScroll 60s linear infinite;
    }
  }

  .logos-central-mask {
    mask-image: radial-gradient(350px at 50% -200px, black 25%, transparent 100%);
  }
}

@media (max-width: 1279px) {
  .logos {
    --gap: 4rem;
  }
}

@media (max-width: 1023px) {
  .logos {
    --gap: 3.5rem;
  }
}

@media (max-width: 767px) {
  .logos {
    --gap: 2.5rem;
  }

  .logos-central-mask {
    mask-image: radial-gradient(200px at 50% -100px, black 25%, transparent 100%);
  }
}
