@layer base {
  body {
    @apply relative min-w-[320px] !overflow-x-hidden font-sans text-black antialiased;
    -webkit-tap-highlight-color: transparent;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    -moz-appearance: textfield !important;
  }
}

@layer components {
  .label-secondary-2 {
    @apply rounded-[40px] bg-secondary-2 px-4 py-2 text-xs font-bold uppercase leading-none text-black;
  }

  .slider-track + span,
  .slider-track > span {
    transition: all 0.3s ease-out;
  }

  /* used in components/partners/integration/api/code-tabs/code-tabs.jsx */
  .code-block {
    pre {
      @apply overflow-x-auto;

      code {
        text-shadow: unset;
        @apply highlighted-code !font-mono text-sm !text-white ![text-shadow:unset];
      }
    }

    .comment.linenumber {
      @apply -mr-8;
    }
  }

  .mask-styles {
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
  }

  .footer-icon-size {
    -webkit-mask-size: 16px 16px;
  }

  /* Used in a /src/components/pages/doc/sidebar/item/item.jsx  */
  /* Allows changing color of and svg without inserting inline svg */
  .arrow-mask {
    -webkit-mask-image: url('/images/chevron-right.svg');
    -webkit-mask-size: 6px 10px;
    @apply mask-styles;
  }

  /* Used in a /src/components/shared/footer/footer.jsx  */
  .github-icon {
    -webkit-mask-image: url('/images/footer/github.svg');
    @apply mask-styles footer-icon-size;
  }

  .discourse-icon {
    -webkit-mask-image: url('/images/footer/discourse.svg');
    @apply mask-styles footer-icon-size;
  }

  .linkedin-icon {
    -webkit-mask-image: url('/images/footer/linkedin.svg');
    @apply mask-styles footer-icon-size;
  }

  .twitter-icon {
    -webkit-mask-image: url('/images/footer/twitter.svg');
    @apply mask-styles footer-icon-size;
  }

  .youtube-icon {
    -webkit-mask-image: url('/images/footer/youtube.svg');
    @apply mask-styles footer-icon-size;
  }

  .multi-checkbox {
    input[type='checkbox'] {
      @apply border-green-45 bg-green-45 bg-[url(/images/check.svg)];
    }
  }
}

@layer utilities {
  .with-link-primary {
    a {
      @apply border-b border-transparent text-primary-1 transition-[border-color] duration-200 hover:border-primary-1;
    }
  }

  .flat-none br {
    content: none;
  }

  .flat-none br::after {
    content: none;
  }

  .flat-breaks br {
    content: '';
  }

  .flat-breaks br::after {
    content: ' ';
  }

  .text-bg-clipped {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes lineAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-150px);
  }
}

.button-line-animation {
  animation: lineAnimation 5s linear infinite;
  animation-timing-function: steps(75);
}

.button-lines-pattern {
  mask-image: url('/button-lines-pattern-mask.png');
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  background: repeating-linear-gradient(
    0deg,
    #0c0d0d,
    #0c0d0d 1px,
    transparent 1px,
    transparent 2px
  );

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #078345;
    animation: lineAnimation 5s linear infinite;
    animation-timing-function: steps(75);
  }
}
