@layer base {
  body {
    @apply relative min-w-[320px] !overflow-x-hidden font-sans text-black antialiased;
    -webkit-tap-highlight-color: transparent;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    -moz-appearance: textfield !important;
  }
}

@layer components {
  .label-secondary-2 {
    @apply rounded-[40px] bg-secondary-2 px-4 py-2 text-xs font-bold uppercase leading-none text-black;
  }

  .slider-track + span,
  .slider-track > span {
    transition: all 0.3s ease-out;
  }

  /* used in components/partners/integration/api/code-tabs/code-tabs.jsx */
  .code-block {
    pre {
      @apply overflow-x-auto;

      code {
        text-shadow: unset;
        @apply highlighted-code !font-mono text-sm !text-white ![text-shadow:unset];
      }
    }

    .comment.linenumber {
      @apply -mr-5;
    }
  }
}

@layer utilities {
  .with-link-primary {
    a {
      @apply border-b border-transparent text-primary-1 transition-[border-color] duration-200 hover:border-primary-1;
    }
  }
}

@keyframes lineAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-150px);
  }
}

.button-line-animation {
  animation: lineAnimation 5s linear infinite;
  animation-timing-function: steps(75);
}

/* Used in a /src/components/pages/doc/sidebar/item/item.jsx  */
/* Allows changing color of and svg without inserting inline svg */

.arrow-mask {
  -webkit-mask-image: url('/images/chevron-right.svg');
  -webkit-mask-size: 6px 10px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
}

.logos {
  mask-image: linear-gradient(90deg, transparent, #d9d9d9 12%, #d9d9d9 88%, transparent);
  -webkit-mask-image: linear-gradient(90deg, transparent, #d9d9d9 12%, #d9d9d9 88%, transparent);
}
