@layer base {
  body {
    @apply relative min-w-[320px] !overflow-x-hidden bg-white font-sans text-black antialiased dark:bg-black-pure dark:text-white;
    -webkit-tap-highlight-color: transparent;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    -moz-appearance: textfield !important;
  }
}

@layer components {
  .label-secondary-2 {
    @apply rounded-[40px] bg-secondary-2 px-4 py-2 text-xs font-bold uppercase leading-none text-black;
  }

  .slider-track + span,
  .slider-track > span {
    transition: all 0.3s ease-out;
  }

  .mask-styles {
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
  }

  .footer-icon-size {
    -webkit-mask-size: 16px 16px;
  }

  /* Used in a /src/components/pages/doc/sidebar/item/item.jsx  */
  /* Allows changing color of and svg without inserting inline svg */
  .arrow-mask {
    -webkit-mask-image: url('/images/chevron-right.svg');
    -webkit-mask-size: 6px 10px;
    @apply mask-styles;
  }

  /* Used in a /src/components/shared/footer/footer.jsx  */
  .github-icon {
    -webkit-mask-image: url('/images/footer/github.svg');
    @apply mask-styles footer-icon-size;
  }

  .discord-icon {
    -webkit-mask-image: url('/images/footer/discord.svg');
    @apply mask-styles footer-icon-size;
  }

  .discourse-icon {
    -webkit-mask-image: url('/images/footer/discourse.svg');
    @apply mask-styles footer-icon-size;
  }

  .linkedin-icon {
    -webkit-mask-image: url('/images/footer/linkedin.svg');
    @apply mask-styles footer-icon-size;
  }

  .x-icon {
    -webkit-mask-image: url('/images/footer/x.svg');
    @apply mask-styles footer-icon-size;
  }

  .youtube-icon {
    -webkit-mask-image: url('/images/footer/youtube.svg');
    @apply mask-styles footer-icon-size;
  }

  .creators-icon {
    -webkit-mask-image: url('/images/footer/creators.svg');
    @apply mask-styles footer-icon-size;
  }

  .multi-checkbox {
    input[type='checkbox'] {
      @apply border-green-45 bg-green-45 bg-[url(/images/check.svg)];
    }
  }

  inkeep-portal {
    @apply relative z-50;
  }

  [data-docsearch-fixed] {
    @apply sr-only;
  }
}

@layer utilities {
  .with-link-primary {
    a {
      @apply text-green-45 transition-colors duration-200 hover:text-[#00FFAA];
    }
  }

  .flat-none br {
    content: none;
  }

  .flat-none br::after {
    content: none;
  }

  .flat-breaks br {
    content: '';
  }

  .flat-breaks br::after {
    content: ' ';
  }

  .text-bg-clipped {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes lineAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.button-line-animation {
  animation: lineAnimation 5s linear infinite;
  animation-timing-function: steps(75);
}
