@layer base {
  body {
    @apply relative min-w-[320px] !overflow-x-hidden bg-white font-sans text-black antialiased dark:bg-black-pure dark:text-white;
    -webkit-tap-highlight-color: transparent;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    -moz-appearance: textfield !important;
  }
}

@layer components {
  .label-secondary-2 {
    @apply rounded-[40px] bg-secondary-2 px-4 py-2 text-xs font-bold uppercase leading-none text-black;
  }

  .slider-track + span,
  .slider-track > span {
    transition: all 0.3s ease-out;
  }

  .templates-search[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background-image: url(/images/templates/close-light-mode.svg);
    cursor: pointer;
  }

  .dark .templates-search[type='search']::-webkit-search-cancel-button {
    background-image: url(/images/templates/close-dark-mode.svg);
  }

  inkeep-portal {
    @apply relative z-50;
  }
}

@layer utilities {
  .with-link-primary {
    a {
      @apply text-green-45 transition-colors duration-200 hover:text-[#00FFAA];
    }
  }

  .flat-none br {
    content: none;
  }

  .flat-none br::after {
    content: none;
  }

  .flat-breaks br {
    content: '';
  }

  .flat-breaks br::after {
    content: ' ';
  }

  .text-bg-clipped {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes lineAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.button-line-animation {
  animation: lineAnimation 5s linear infinite;
  animation-timing-function: steps(75);
}
