@layer components {
  /* Allows changing color of and svg without inserting inline svg */
  .mask-styles {
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
  }

  /* Used in a /src/components/pages/doc/sidebar/item/item.jsx  */
  .arrow-mask {
    -webkit-mask-image: url('/images/chevron-right.svg');
    -webkit-mask-size: 6px 10px;
    @apply mask-styles;
  }

  /* Used in a /src/components/pages/pricing/hero/features/features.jsx  */
  .pricing-icon-size {
    -webkit-mask-size: 14px 14px;
  }

  .pricing-check-icon {
    -webkit-mask-image: url('/images/checklist.svg');
    @apply mask-styles pricing-icon-size;
  }

  .pricing-autoscale-icon {
    -webkit-mask-image: url('/images/pricing/autoscale.svg');
    @apply mask-styles pricing-icon-size;
  }

  .pricing-clock-icon {
    -webkit-mask-image: url('/images/pricing/clock.svg');
    @apply mask-styles pricing-icon-size;
  }

  .pricing-projects-icon {
    -webkit-mask-image: url('/images/pricing/projects.svg');
    @apply mask-styles pricing-icon-size;
  }

  .pricing-storage-icon {
    -webkit-mask-image: url('/images/pricing/storage.svg');
    @apply mask-styles pricing-icon-size;
  }

  /* Used in a /src/components/pages/pricing/table/table.jsx */
  .pricing-check-icon {
    -webkit-mask-image: url('/images/check.svg');
    -webkit-mask-size: 16px 16px;
  }

  .pricing-cross-icon {
    -webkit-mask-image: url('/images/pricing/cross.svg');
    -webkit-mask-size: 14px 14px;
  }

  /* Used in a /src/components/pages/multi-tb/branching/branching-demo/branching-demo.jsx  */
  .branching-demo-icon-size {
    -webkit-mask-size: 18px 18px;

    @media screen(lg) {
      -webkit-mask-size: 14px 14px;
    }
  }

  .branching-demo-speedometer-icon {
    -webkit-mask-image: url('/images/pages/multi-tb/branching-demo/speedometer.svg');
    @apply mask-styles branching-demo-icon-size;
  }

  .branching-demo-database-icon {
    -webkit-mask-image: url('/images/pages/multi-tb/branching-demo/database.svg');
    @apply mask-styles branching-demo-icon-size;
  }

  .branching-demo-clone-icon {
    -webkit-mask-image: url('/images/pages/multi-tb/branching-demo/clone.svg');
    @apply mask-styles branching-demo-icon-size;
  }

  .branching-demo-circle-minus-icon {
    -webkit-mask-image: url('/images/pages/multi-tb/branching-demo/circle-minus.svg');
    @apply mask-styles branching-demo-icon-size;
  }

  .branching-demo-circle-plus-icon {
    -webkit-mask-image: url('/images/pages/multi-tb/branching-demo/circle-plus.svg');
    @apply mask-styles branching-demo-icon-size;
  }

  .branching-demo-restore-icon {
    -webkit-mask-image: url('/images/pages/multi-tb/branching-demo/restore.svg');
    @apply mask-styles branching-demo-icon-size;
  }

  /* Used in a /src/components/shared/footer/footer.jsx  */
  .footer-icon-size {
    -webkit-mask-size: 16px 16px;
  }

  .github-icon {
    -webkit-mask-image: url('/images/footer/github.svg');
    @apply mask-styles footer-icon-size;
  }

  .discord-icon {
    -webkit-mask-image: url('/images/footer/discord.svg');
    @apply mask-styles footer-icon-size;
  }

  .discourse-icon {
    -webkit-mask-image: url('/images/footer/discourse.svg');
    @apply mask-styles footer-icon-size;
  }

  .linkedin-icon {
    -webkit-mask-image: url('/images/footer/linkedin.svg');
    @apply mask-styles footer-icon-size;
  }

  .x-icon {
    -webkit-mask-image: url('/images/footer/x.svg');
    @apply mask-styles footer-icon-size;
  }

  .youtube-icon {
    -webkit-mask-image: url('/images/footer/youtube.svg');
    @apply mask-styles footer-icon-size;
  }

  .creators-icon {
    -webkit-mask-image: url('/images/footer/creators.svg');
    @apply mask-styles footer-icon-size;
  }

  .check-icon {
    -webkit-mask-image: url('/images/check.svg');
    -webkit-mask-size: 12px 12px;
    @apply mask-styles;
  }

  .check-new-icon {
    -webkit-mask-image: url('/images/check-new.svg');
    -webkit-mask-size: 16px 16px;
    @apply mask-styles;
  }

  .wip-icon {
    -webkit-mask-image: url('/images/refresh.svg');
    -webkit-mask-size: 12px 12px;
    @apply mask-styles;
  }
}
