@layer utilities {
  .remove-autocomplete-styles {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      transition:
        background-color 600000s 0s,
        color 600000s 0s;
    }
  }

  .remove-autocomplete-styles-black-theme {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      box-shadow: 0 0 0 1000px #404040 inset;
      border: 1px solid #404040;
      transition:
        background-color 600000s 0s,
        color 600000s 0s;
    }
  }

  .remove-autocomplete-styles-apply-form {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      box-shadow: 0 0 0 1000px #1c1d1e inset;
      border: 1px solid #1c1d1e;
      transition:
        background-color 600000s 0s,
        color 600000s 0s;
    }
  }
}
