.DocSearch-Button {
  @apply flex shrink-0 grow basis-[230px] items-center overflow-x-auto rounded border border-gray-new-90 bg-white bg-[url('/images/search-light.svg')] bg-[left_0.625rem_center] bg-no-repeat p-[9px] pl-9 text-left leading-none text-gray-new-70 outline-none transition-colors duration-200 hover:cursor-pointer hover:border-gray-new-70 hover:shadow-none dark:border-gray-new-30 dark:bg-black-new dark:bg-[url('/images/search-dark.svg')] dark:text-gray-new-50 dark:hover:border-gray-new-50;

  @media (max-width: 768px) {
    margin: 0;
  }

  .DocSearch-Search-Icon {
    display: none;
    color: #fff;

    @media (max-width: 768px) {
      display: block;
    }
  }

  .DocSearch-Button-Placeholder {
    @apple font-normal text-sm;

    @media (max-width: 768px) {
      display: block;
    }
  }

  .DocSearch-Button-Keys {
    @apply ml-auto flex gap-x-3.5;

    .DocSearch-Button-Key {
      @apply relative top-0 m-0 flex h-4 w-4 items-center justify-center rounded-sm border border-gray-new-70 p-[3px] text-xs text-gray-new-70 shadow-none dark:border-gray-new-50 dark:text-gray-new-50;

      &:not(:last-child)::after {
        @apply absolute top-1/2 left-[calc(100%+4px)] -translate-y-1/2;
        content: '+';
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.DocSearch-Container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-width: 320px;
  height: 100vh;
  z-index: 200;
  background-color: rgba(94, 100, 112, 0.7);

  .DocSearch-Modal {
    background: #f5f5f5;
    border-radius: 6px;
    box-shadow: inset 1px 1px 0 0 hsla(0, 0%, 100%, 0.5), 0 3px 8px 0 #555a64;
    flex-direction: column;
    margin: 60px auto auto;
    max-width: 540px;
    position: relative;
  }

  .DocSearch-SearchBar {
    display: flex;
    padding: 12px 12px 0;
  }

  .DocSearch-Footer {
    align-items: center;
    background: none;
    border-radius: 0 0 8px 8px;
    box-shadow: none;
    display: flex;
    flex-direction: row-reverse;
    flex-shrink: 0;
    height: 44px;
    justify-content: space-between;
    padding: 0 12px;
    position: relative;
    user-select: none;
    width: 100%;
    z-index: 300;
  }

  .DocSearch-Cancel {
    display: none;
  }

  .DocSearch-Form {
    align-items: center;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #333;
    display: flex;
    height: 40px;
    margin: 0;
    padding: 0 12px;
    position: relative;
    width: 100%;
  }

  .DocSearch-MagnifierLabel,
  .DocSearch-Reset {
    align-items: center;
    color: #333;
    display: flex;
    justify-content: center;

    svg {
      height: 24px;
      width: 24px;
    }
  }

  .DocSearch-LoadingIndicator,
  .DocSearch-Reset[hidden] {
    display: none;
  }

  .DocSearch-Input {
    appearance: none;
    background: transparent;
    border: 0;
    color: #333;
    flex: 1;
    font: inherit;
    height: 100%;
    outline: none;
    padding: 0 0 0 8px;
    width: 80%;
    font-size: 16px;
    font-weight: 400;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }
  }

  .DocSearch-Reset {
    stroke-width: 1.4;
    animation: fade-in 0.1s ease-in forwards;
    appearance: none;
    background: none;
    border: 0;
    border-radius: 50%;
    color: #333;
    cursor: pointer;
    padding: 2px;
  }

  .DocSearch-ErrorScreen,
  .DocSearch-NoResults,
  .DocSearch-StartScreen {
    font-size: 0.9em;
    margin: 0 auto;
    padding: 36px 0;
    text-align: center;
    width: 80%;
  }

  .DocSearch-Help {
    font-size: 0.9em;
    margin: 0;
    user-select: none;
    color: #333;
  }

  .DocSearch-Logo a {
    display: flex;
    text-decoration: none;
  }

  .DocSearch-Label {
    position: relative;
    font-size: 12px;
    line-height: 1.6em;
    color: #333;
  }

  .DocSearch-Logo svg {
    margin-left: 8px;
  }

  .DocSearch-Commands {
    color: #333;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      align-items: center;
      display: flex;
    }

    li:not(:last-of-type) {
      margin-right: 0.8em;
    }

    .DocSearch-Commands-Key {
      align-items: center;
      display: flex;
      height: 18px;
      justify-content: center;
      margin-right: 0.4em;
      padding: 0 0 1px;
      width: 20px;

      background: #f5f5f5;
      border: 1px solid #e6e6e6;
      border-radius: 3px;
      box-shadow: none;
      color: #333;
    }
  }

  .DocSearch-Label {
    color: #333;
    font-size: 12px;
    line-height: 1.6em;
  }

  .DocSearch-Hit {
    padding: 0 1rem;
  }
}
