.DocSearch-Button {
  @apply flex shrink-0 grow basis-[230px] items-center overflow-x-auto rounded border border-gray-new-90 bg-white bg-[url('/images/search-light.svg')] bg-[left_0.625rem_center] bg-no-repeat p-[9px] pl-9 text-left leading-none text-gray-new-70 outline-none transition-colors duration-200 hover:cursor-pointer hover:border-gray-new-70 hover:shadow-none dark:border-gray-new-30 dark:bg-black-new dark:bg-[url('/images/search-dark.svg')] dark:text-gray-new-50 dark:hover:border-gray-new-50;

  @media (max-width: 768px) {
    margin: 0;
  }

  .DocSearch-Search-Icon {
    @apply hidden;
  }

  .DocSearch-Button-Placeholder {
    @apple font-normal text-sm;

    @media (max-width: 768px) {
      display: block;
    }
  }

  .DocSearch-Button-Keys {
    @apply ml-auto flex gap-x-3.5;

    .DocSearch-Button-Key {
      @apply relative top-0 m-0 flex h-4 w-4 items-center justify-center rounded-sm border border-gray-new-70 p-[3px] text-xs text-gray-new-70 shadow-none dark:border-gray-new-50 dark:text-gray-new-50;

      &:not(:last-child)::after {
        @apply absolute top-1/2 left-[calc(100%+4px)] -translate-y-1/2;
        content: '+';
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.DocSearch-Container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-width: 320px;
  height: 100vh;
  z-index: 200;
  background-color: rgba(94, 100, 112, 0.7);

  .DocSearch-Modal {
    @apply bg-white;
    border-radius: 6px;
    box-shadow: inset 1px 1px 0 0 hsla(0, 0%, 100%, 0.5), 0 3px 8px 0 #555a64;
    flex-direction: column;
    margin: 60px auto auto;
    max-width: 540px;
    position: relative;
  }

  .DocSearch-SearchBar {
    @apply flex border-b border-gray-new-90 px-2 py-2;
  }

  .DocSearch-Footer {
    @apply relative z-[300] flex h-11 w-full shrink-0 select-none flex-row-reverse items-center justify-between rounded-b-lg border-t border-gray-new-90 bg-none py-0 px-3 shadow-none;

    .DocSearch-Commands {
      @apply flex items-center space-x-3;

      li {
        @apply flex items-center;
      }

      .DocSearch-Commands-Key {
        @apply mr-1 rounded-[20px] border-none bg-gray-new-94 px-[3px] py-px text-gray-new-50;
      }

      .DocSearch-Label {
        @apply ml-1.5;
      }
    }
  }

  .DocSearch-Cancel {
    display: none;
  }

  .DocSearch-Form {
    @apply relative m-0 flex h-10 w-full items-center rounded py-0 pl-3 pr-2 shadow-none;
  }

  .DocSearch-MagnifierLabel {
    @apply h-4 w-4 bg-[url('/images/search-light.svg')] bg-center bg-no-repeat dark:bg-[url('/images/search-dark.svg')];
    .DocSearch-Search-Icon {
      @apply hidden;
    }
  }

  .DocSearch-MagnifierLabel,
  .DocSearch-Reset {
    @apply text-sm leading-none text-gray-new-60;

    svg {
      height: 24px;
      width: 24px;
    }
  }

  .DocSearch-LoadingIndicator,
  .DocSearch-Reset[hidden] {
    display: none;
  }

  .DocSearch-Input {
    @apply h-full w-4/5 grow appearance-none border-none bg-transparent p-0 pl-2 text-base font-normal leading-none text-black-new outline-none;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }
  }

  .DocSearch-Reset {
    @apply cursor-pointer appearance-none rounded-[50%] border-none bg-none;
    stroke-width: 1.4;
    animation: fade-in 0.1s ease-in forwards;
  }

  .DocSearch-ErrorScreen,
  .DocSearch-NoResults,
  .DocSearch-StartScreen {
    @apply mx-auto my-0 w-4/5 px-0 py-12 text-center text-lg;
  }

  .DocSearch-Screen-Icon {
    svg {
      @apply mx-auto;
    }
  }

  .DocSearch-NoResults-Prefill-List {
    @apply mt-6;
  }

  .DocSearch-Help {
    @apply text-lg leading-none text-gray-new-70;
  }

  .DocSearch-Logo a {
    @apply flex items-center;
  }

  .DocSearch-Logo svg {
    margin-left: 8px;
  }

  .DocSearch-Label {
    @apply text-sm leading-none text-gray-new-60;
  }

  .DocSearch-Hits {
    @apply p-5;

    .DocSearch-Hit-source {
      @apply text-sm font-semibold leading-none text-gray-new-30;
    }

    > ul {
      @apply mt-2.5 space-y-2.5;
    }

    .DocSearch-Hit {
      @apply border-none;

      &[aria-selected='true'] {
        a {
          @apply bg-gray-new-98;

          .DocSearch-Hit-action::after {
            @apply opacity-100;
          }
        }
      }

      a {
        @apply flex rounded border border-gray-new-94 px-3 py-4 transition-colors duration-200 hover:bg-gray-new-98;

        &:hover {
          .DocSearch-Hit-action::after {
            @apply opacity-100;
          }
        }
      }

      .DocSearch-Hit-Container {
        @apply flex w-full items-start space-x-3;

        .DocSearch-Hit-content-wrapper {
          @apply !mr-2 flex flex-col space-y-1.5;
        }

        .DocSearch-Hit-icon {
          @apply !ml-0 mt-0.5 text-gray-new-70;

          svg {
            @apply h-4 w-4;
          }
        }

        .DocSearch-Hit-Tree {
          @apply mr-2 h-auto w-4 text-gray-new-70;
        }

        .DocSearch-Hit-title {
          @apply text-sm font-medium leading-tight;

          mark {
            @apply bg-transparent text-secondary-8;
          }
        }

        .DocSearch-Hit-path {
          @apply text-xs leading-none text-black-new;

          mark {
            @apply bg-transparent text-secondary-8;
          }
        }

        .DocSearch-Hit-action {
          @apply relative !ml-auto mt-0.5 h-4 w-4;

          &::after {
            @apply absolute top-1/2 right-0 h-full w-full -translate-y-1/2 bg-secondary-8 opacity-0 transition-opacity duration-200 content-[''];
            -webkit-mask-image: url('/images/chevron.svg');
            mask-image: url('/images/chevron.svg');
            mask-size: 6px 12px;
            mask-repeat: no-repeat;
            mask-position: center;
          }

          svg {
            @apply hidden;
          }
        }
      }
    }
  }
}
