@layer utilities {
  .white-line {
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.3) 20%,
      rgba(255, 255, 255, 0.7) 60%,
      rgba(255, 255, 255, 0)
    );
  }

  .black-line {
    background-image: linear-gradient(
      90deg,
      rgba(26, 26, 26, 0) 0,
      rgba(26, 26, 26, 0.3) 20%,
      rgba(26, 26, 26, 0.7) 60%,
      rgba(26, 26, 26, 0)
    );
  }
  .skeleton {
    @apply relative block min-h-5 w-full rounded-xl bg-[#f5f5f5] dark:bg-gray-3;

    &::after {
      @apply white-line dark:black-line absolute inset-0 -translate-x-full content-[''];
      animation: shimmer 2s infinite;
    }
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
