@layer components {
  .social-share {
    width: 180px;
    box-shadow: inset 0 -2px 10px rgba(255, 255, 255, 0.15);
    background:
      linear-gradient(#080808, #080808) padding-box,
      radial-gradient(ellipse at top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2)) border-box;
    border-radius: 6px;
    border: 1px solid transparent;

    &:hover {
      border-color: rgba(255, 255, 255, 0.8);
    }

    @media screen(xs) {
      width: 150px;
    }
  }
}
