.button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    transition: opacity 0.2s;
    width: 170px;
    border-radius: 20px;
    padding: 10px;
    background-color: #0361B8;
    font-family: Helvetica;
    font-weight:300;
    font-size: 18px;
    letter-spacing: 1px;
}

.button:hover {
    color: #fff;
    opacity: 0.9;
}