.container {
    margin-bottom: 120px;
}

.icon {
    display: flex;
    justify-content:left;
    height: 90px;
    width: 90px;
    margin-bottom: 5px;
}

.header {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 600;
    font-family: aileron;
}

.text {
    font-size: 24px;
    letter-spacing: 0.5px;
    font-weight: 300;
}

.text a {
    color: inherit;
    text-underline-position: under;
}

.text a:hover {
    text-decoration: none;
}


.text ul li {
    list-style-type: '↳ ';
    padding-left: 0.5rem;
    text-decoration: underline;
    text-underline-position: under;
}

.text ul li:hover {
    text-decoration: none;
}