.title {
    font-family: aileron;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 20px;
}

.container {
    padding: 24px;
    border-radius: 10px;
    border: 1px solid currentColor;
    height: 250px;
    width: 250px;
    margin-bottom: 1.5rem;
}

.icon {
    width: 24px;
    height: 24px;
    margin-bottom: 8px;
}

.header {
    font-family: aileron;
    font-weight:500;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 15px;
}

.description {
    line-height: 18px;
}


