@import url("https://fonts.googleapis.com/css?family=Karla:400,700");
@import url("https://fonts.googleapis.com/css?family=Karla:400,700|Inconsolata:900");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

:root {
    --fz-h1: 48px;
    --fz-h2: 36px;
    --fz-h3: 24px;
    --fz-h4: 20px;
    --fz-h6: 16px;

    --color-inverted: #ffffff;
    --color-text: #0F172A;
    --color-main: #4C2FB0;
    --color-main-light: #7C5BEC;
    --color-light: #7A7A7A;
    --color-dark: #000000;
}

.hidden-xs {
    display: none;
}

@media screen and (min-width: 1400px) {
    :root {
        --fz-h1: 64px;
        --fz-h2: 48px;
        --fz-h3: 36px;
        --fz-h4: 24px;
        /*--fz-h5: 64px;*/
        --fz-h6: 18px;
    }

    .hidden-md {
        display: none;
    }

    .hidden-xs {
        display: initial;
    }
}

body {
    font-family: "Karla", Helvetica;
    font-size: 16px;
    min-width: 768px;
    color: var(--color-text);
    margin: 0;
    padding: 0;
}

a {
    transition: color 0.3s;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    padding: 0 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.znth-header {
    font-family: "Montserrat", Helvetica;
}

.znth-dots {
    background-image: url("./assets/images/dots.svg");
    background-repeat: repeat-x;
    background-position: left center;
    background-size: contain;
    height: 44px;
    opacity: 0.7;
}

.red {
    color: red;
    text-transform: uppercase;
}

.znth-section-header {
    font-size: var(--fz-h1);
    margin-left: 51px;
    color: var(--color-main);
}

.znth-section-header_inverted {
    color: var(--color-inverted);
}

.znth-section-header_secondary {
    font-size: var(--fz-h2);
}

/* cosmic section start */

.zenith-cosmic {
    background:  url('./assets/images/bg_cosmo.svg') center no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 80px;
    padding-top: 50px;
}

.zenith-cosmic:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 163px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 7.21%, rgba(255, 255, 255, 0) 100%);
}

.zenith-cosmic-dots {
    margin-right: 160px;
}

.zenith-header {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    font-size: var(--fz-h6);
}

.zenith-header-logo {
    height: 40px;
    margin-right: 90px;
}

.zenith-header-dots {
    flex-grow: 1;
}

.zenith-header-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.zenith-header-nav-item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 64px;
}

.zenith-header-nav-item__link {
    color: var(--color-inverted);
    text-decoration: none;
}

/*.zenith-header-nav-item__link:hover {*/
/*    color: var(--color-main-light);*/
/*}*/

.zenith-title {
    color: #fff;
    display: flex;
    margin-bottom: 80px;
    padding-left: 59px;
    justify-content: space-between;
}

.zenith-title__text {
    width: 800px;
}

.zenith-title__header {
    margin-bottom: 38px;
    font-size: var(--fz-h1);
    margin-top: 0;
}

.zenith-title__subheader {
    font-size: var(--fz-h4);
}

.zenith-title__logo {
    margin-top: -3px;
    margin-right: 65px;
    width: 230px;
}

.zenith-title__logo img {
    max-width: 100%;
}

/* cosmic section end */

/* architecture section start */
.zenith-architecture {
    display: flex;
    padding: 130px 0 188px 10px;
}

.zenith-architecture-plan {
    position: relative;
    margin: 0 auto;
    max-width: 718px;
}

.zenith-architecture__schema {
    max-width: 100%;
}

.zenith-architecture-item__header {
    font-size: var(--fz-h3);
    color: var(--color-main);
    margin-bottom: 22px;
}

.zenith-architecture-item__desc {
    font-size: var(--fz-h4);
}

.zenith-architecture-item {
    position: absolute;
}

.zenith-architecture-item_1 {
    width: 324px;
    bottom: 457px;
    left: -10px;
}

.zenith-architecture-item_2 {
    width: 385px;
    right: -120px;
    top: -25px;
}

.zenith-architecture-item_3 {
    width: 364px;
    left: -10px;
    bottom: -23px;
}

.zenith-architecture-item_4 {
    width: 333px;
    right: -103px;
    top: 416px;
}

@media screen and (min-width: 1400px) {
    .zenith-architecture-plan {
        max-width: 100%;
    }

    .zenith-architecture-item_1 {
        bottom: 722px;
        left: -109px;
    }

    .zenith-architecture-item_2 {
        right: -23px;
        top: -40px;
    }

    .zenith-architecture-item_3 {
        left: -108px;
        bottom: 49px;
    }

    .zenith-architecture-item_4 {
        right: 30px;
        top: 659px;
    }
}

/* architecture section end */

/* features section start */

.zenith-feature-container {
    background: url('./assets/images/bg_features.svg') center top no-repeat;
    padding-top: 64px;
    padding-bottom: 130px;
}

.zenith-feature__header {
    margin-bottom: 17px;
}

.zenith-feature .row {
    marging: 0 -15px;
}

.zenith-feature-item {
    padding: 0 15px;
    flex-basis: 33.333333%;
}

.zenith-feature-item__icon {
    height: 250px;
    text-align: center;
}

.zenith-feature-item__icon img {
    max-height: 100%;
}

.zenith-feature-item__header {
    color: var(--color-main);
    font-size: var(--fz-h3);
    margin-bottom: 14px;
    margin-top: -12px;
    height: 87px;
}

.zenith-feature-item__desc {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: var(--fz-h6);
}

.zenith-feature-item__desc li {
    margin-bottom: 1.8rem;
    display: flex;
    align-items: center;
}

.zenith-feature-item__desc li:before {
    content: '';
    width: 22px;
    height: 8px;
    margin-right: 10px;
    flex-shrink: 0;
    background: url('./assets/images/list_item_dot.svg') center no-repeat;
    background-size: contain;
}

@media screen and (min-width: 1400px) {
    .zenith-feature .row {
        marging: 0;
    }

    .zenith-feature-item {
        padding: 0 45px;
    }

    .zenith-feature-item__header {
        height: 129px;
    }

    .zenith-feature-item__icon {
        height: 341px;
    }

    .zenith-feature-item__desc li:before {
        width: 33px;
        height: 12px;
        margin-right: 37px;
    }
}

/* features section end */

/* product section start */

.zenith-product-container {
    background: url('./assets/images/bg_products.svg') center top no-repeat;
    padding-top: 70px;
    padding-bottom: 141px;
}

.zenith-product__header {
    margin-bottom: 45px;
}

.zenith-product-tabs {
    position: relative;
    padding-bottom: 360px;
    margin: 0 auto;
    width: calc(230px*3 + 36px);
}

.zenith-product-tabs-item {
    float: left;
}

.zenith-product-tabs:after {
    content: '';
    display: block;
    clear: both;
}

.zenith-product-tabs input {
    display: none;
}

.zenith-product-tabs input:not(:checked) + label + .zenith-product-tabs-content {
    display: none;
}

.zenith-product-tabs-content {
    position: absolute;
    width: calc(230px*3 + 24px);
    height: 415px;
    border-radius: 10px;
    background-color: var(--color-text);
    box-shadow: 34px 40px 33px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: -10px;
    left: 0;
    color: var(--color-inverted);
}

.zenith-product-tabs-content:before {
    content: '';
    width: 100%;
    display: block;
}

.zenith-product-tabs-header {
    color: var(--color-inverted);
    border: 1px solid var(--color-inverted);
    border-radius: 20px 20px 0 0;
    border-bottom: 0;
    text-align: center;
    padding: 10px 10px 20px;
    position: relative;
    width: 230px;
    margin-right: 12px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 120px;
    cursor: pointer;
}

.zenith-product-tabs-header__icon {
    height: 75px;
    width: 90px;
    margin-right: 10px;
    flex-shrink: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.zenith-product-tabs-header__icon-tool {
    background-image: url('./assets/images/product_tool.svg');
}

.zenith-product-tabs-header__icon-cloud {
    background-image: url('./assets/images/product_cloud.svg');
}

.zenith-product-tabs-header__icon-backup {
    background-image: url('./assets/images/product_backup.svg');
}


input:checked + .zenith-product-tabs-header .zenith-product-tabs-header__icon-tool,
.zenith-product-tabs-header:hover .zenith-product-tabs-header__icon-tool {
    background-image: url('./assets/images/product_tool_active.svg');
}

input:checked + .zenith-product-tabs-header .zenith-product-tabs-header__icon-cloud,
.zenith-product-tabs-header:hover .zenith-product-tabs-header__icon-cloud{
    background-image: url('./assets/images/product_cloud_active.svg');
}

input:checked + .zenith-product-tabs-header .zenith-product-tabs-header__icon-backup,
.zenith-product-tabs-header:hover .zenith-product-tabs-header__icon-backup {
    background-image: url('./assets/images/product_backup_active.svg');
}


.zenith-product-tabs-header__label {
    font-size: var(--fz-h4);
}

.zenith-product-tabs input:checked + .zenith-product-tabs-header,
.zenith-product-tabs-header:hover {
    color: var(--color-main);
    background-color: var(--color-inverted);
}

.znth-console {
    padding: 20px;
}

@media screen and (min-width: 1400px) {
    .zenith-product-tabs {
        width: calc(360px*3 + 45px);
    }

    .zenith-product-tabs-header {
        width: 360px;
        margin-right: 15px;
        padding: 20px 20px 30px;
    }

    .zenith-product-tabs-content {
        width: calc(360px*3 + 30px);
    }
}

/* product section end */

/* product team start */

.zenith-team {
    padding: 76px 0 80px;
}

.zenith-team__header {
    margin-bottom: 65px;
}

.zenith-team .row {
    align-items: flex-start;
}

.zenith-person {
    text-align: center;
    width: 33.3333%;
    padding: 0 30px;
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    margin-bottom: 80px;
}

.zenith-person__img {
    padding: 17px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    max-width: 250px;
    margin: 0 auto 20px;
}

.zenith-person__img:before {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(136.27deg, #7C3CE3 7.43%, #E3D7FA 60.9%);
}

.zenith-person__img img {
    position: relative;
    max-width: 100%;
}

.zenith-person__name {
    font-size: 30px;
    color: var(--color-main);
}

.zenith-person__position {
    color: var(--color-light);
    font-size: 18px;
    margin-bottom: 12px;
}

@media screen and (min-width: 1400px) {
    .zenith-person__img {
        max-width: auto;
    }
}

/* product team end */

/* product footer start */

.zenith-footer-container {
    color: var(--color-inverted);
    padding: 50px 0 120px;
    background: var(--color-dark) url('./assets/images/bg_footer.svg') center bottom no-repeat;
    font-size: var(--fz-h6);
}

.zenith-footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.zenith-footer-link {
    color: inherit;
    margin-bottom: 12px;
}

.zenith-footer-link a {
    color: inherit;
}

.zenith-footer-link.zenith-footer-link_underlined a {
    text-decoration: underline;
}

.zenith-footer-link_inline {
    display: inline-block;
}

.zenith-footer-link_inline + .zenith-footer-link_inline {
    margin-left: 50px;
}

@media screen and (max-width: 1399px) {
    .zenith-footer {
        flex-wrap: wrap;
    }

    .zenith-footer-col_wide {
        width: 100%;
        text-align: center;
    }

    .zenith-footer-col {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1400px) {
    .zenith-footer-container {
        padding-top: 109px;
        padding-bottom: 209px;
    }
}

/* product footer end */