.container {
    padding: 80px 0 40px;
}

.row {
    margin-bottom: 160px;
    align-items: center;
}

.row_inverse {
    flex-direction: row-reverse;
}

.header {
    font-size: 48px;
    font-weight: 600;
    font-family: aileron;
}

.text {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.5px;
    font-weight: 300;
}

.col_text.col_right {
    padding-left: 48px;
}

.col_left {
    text-align: right;
}

.col_text.col_left {
    padding-right: 48px;
}