.container {
    padding: 40px 0 80px;
}

.header {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 48px;
}

.article {
    font-size: 24px;
}

.article a {
    color: inherit;
    text-decoration: none;
}

.article a:hover {
    text-decoration: underline;
}