html,
body {
  background-color: #000;
  margin: 20px;
}

* {
  font-family: 'Fira Code', monospace;
}

#console {
  position: relative;
  display: inline-block;
  line-height: 18px;
  font-size: 18px;
  color: #d4a989;
}

.prompt,
.body {
  display: inline-block;
}

.body {
  overflow-wrap: anywhere;
}

.console-line {
  margin-bottom: 5px;
}

.console-line.active .body::after {
  content: '';
  display: inline-block;
  background-color: #826a57;
  vertical-align: bottom;
  position: relative;
  left: 1px;
  width: 10px;
  /* Set height to the line height of .text */
  height: 18px;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.stdout {
  color: #b9a08e;
  margin: 0 0 10px 0;
  line-height: 1.2em;
  overflow-wrap: anywhere;
}

#console a {
  color: #b9a08e;
}
