.container {
    background-color: #282727;
    padding: 110px 0 120px;
    text-align: center;
}

.header {
    font-family: aileron;
    font-size: 48px;
    font-weight: regular;
    margin-bottom: 45px;
    letter-spacing: 1px;
}